@model IEnumerable<MVCCRUD.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>

<form asp-controller="Usuarios" asp-action="Index" method="get" class="mb-3">
    <div class="form-group">
        Buscar: <input type="text" name="buscar" class="form-control" style="width: auto; display: inline-block;" />
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
</form>

<!-- Envolver la tabla en un div con la clase table-responsive -->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clave)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
